# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa
*.app-bundle

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.log/
logs/

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*

# typescript
*.tsbuildinfo

app-example

# amplify
.amplify/
amplify/.config/
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation/
amplify/backend/backend-config.json
amplify/backend/tags.json
amplify/team-provider-info.json
amplify/#current-cloud-backend
amplify_outputs*
amplifyconfiguration*
aws-exports.js
aws-exports.*

# Temporary files
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
